name: Build and Publish Wheels

on:
  release:
    types: [published]
  workflow_dispatch:  # For manual testing
  push:
    paths:
      - 'setup.py' # Triggers on changes to setup.py so we only update pypi when we have an updated setup file.

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # This spins up runners for all 3 major OSs
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      # Used to build the wheels
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23.0
        env:
          # Build for Python 3.10, 3.11, 3.12, and 3.13
          CIBW_BUILD: "cp310-* cp311-* cp312-* cp313-*"

          # Optional: Skip 32-bit builds if you don't want them (saves time)
          CIBW_SKIP: "*-win32 *-manylinux_i686"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  upload_pypi:
    needs: [build_wheels]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PyPi_TOKEN }}
